* {
  list-style: none;
}

body {
  margin: auto;
  max-width: 84rem;
}

body #app {
  margin: auto;
  max-width: 84rem;
  color: #1b1b1b;
}

/* NAVBAR */

.logo-without-anim {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

.hamburger {
  display: none;
  overflow-x: hidden;
  width: 0%;
  left: 0;
  top: 0;
  color: white;
  position: fixed;
  height: 100%;
  background-color: #1b1b1b;
  z-index: 100;
}

.hamburger.is-active {
  width: 100%;
}

.div_header {
  display: flex;
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.nav_left {
  font-family: "Avenir", sans-serif;
  display: flex;
  margin-right: 20px;
  margin-top: 10px;
}

.nav_right {
  font-family: "Avenir", sans-serif;
  padding-left: 20px;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.cart {
  width: 25px;
  height: 25px;
  margin-top: 1vw;
}

.barres {
  display: none;
}

.login {
  font-family: "Avenir", sans-serif;
  padding-left: 20px;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}

.input-field {
  width: 300px;
  height: 44px;
  line-height: 44px;
  width: 80%;
}

input {
  border: 0;
  outline: 0;
  box-shadow: none;
  border-bottom: 2px solid #1b1b1b;
  width: 90%;
  font-size: 20px;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-left: 4.5%;
  width: 100vw;
}

.search {
  width: 45px;
  height: 45px;
  padding: 15px;
}

.navsearch {
  display: flex;
}

/* FIN NAVBAR */

.price-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.range-slider {
  width: 100%;
  position: relative;
  margin: 15px 0 30px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  border: 0;
  width: 100%;
  position: absolute;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: url(img/sercle.svg);
  background-color: #fff;
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}

/* GRID PARAMETERS */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 10px;
}

.filter-by {
  font-family: "Avenir", sans-serif;
  color: #919296;
  font-size: 12px;
  margin-bottom: 30px;
}

.arrow {
  width: 20px;
  size: 20px;
}

.filtrebar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 2px solid #e8e8e8;
}

.filter {
  font-size: 14px;
  font-family: "Avenir", sans-serif;
  padding-bottom: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 4px;
  margin: 0;
}

.plus-item-cart {
  width: 30px;
  float: right;
}

.left-part {
  padding: 5%;
  float: left;
}

.right-part {
  padding: 5%;
  float: right;
}

.stars {
  width: 60px;
}

.price {
  font-family: "Avenir", sans-serif;
}

.furniture-type {
  font-size: 10px;
  font-family: "Avenir", sans-serif;
  color: #919296;
}

.furniture-name {
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  color: #1b1b1b;
}

.furniture-image {
  width: 100%;
  border: #1b1b1b 1px solid;
}

/* END OF GRID PARAMETERS */

/* FOOTER */

footer {
  margin-top: 70px;
  margin-bottom: 70px;
}

footer .list_pages {
  font-family: "Avenir", sans-serif;
  font-size: 13px;
  display: flex;
  gap: 1.5%;
  padding: 0;
}

footer a {
  display: flex;
  place-content: center;
  align-items: center;
  padding: 0;
  height: 42px;
  width: 42px;
  text-decoration: none;
  color: #1b1b1b;
}

footer a:hover {
  background-color: #1b1b1b;
  color: white;
}

footer .active-page {
  background-color: #1b1b1b;
  color: white;
}

/* END OF FOOTER */